img.tipo {
    width: 50%;
    height: 50%;
}

h1 {
    text-align: center;
}

.contenedor {
    border: 5px solid black;
    width: 650px;
    text-align: half;
    position: absolute;
    right: 19%;
    padding: 10px;
}

body {
    background-color: red;
}

.conMargen {
    margin: 30px;
    padding: 30px;
    border: 3px solid #000;
}

.panel {
    float: left;
    width: 29%;
    margin: 1em 2%;
    border: 1px solid black;
    height: 150px;
    overflow: auto;
}

.img {
    float: left;
    height: 20vh;
    vertical-align: middle;
}

.img img {
    height: 10vh;
    margin-top: 5vh;
}

.panel h3 {
    text-align: center;
}

h2 {
    float: left;
    width: 100%;
}