.panel{
	float: left;
	width: 29%;
	margin: 1em 2%;
	border: 1px solid black;
	height: 20vh;
	overflow: auto;

}
.img {
	float: left;
	height: 20vh;
	vertical-align: middle;


}
.img img{
	height: 10vh;
	margin-top: 5vh;
}

.panel h3{
	text-align: center;
}

h2{
	float: left;
	width: 100%;
}