.contenedor{
	width: 50%;
	padding: 20px;
	border: 2px solid black;
	margin: 0 auto;
}
.contenedor>img{
	width: 60%;
	margin: 0 auto;
	display: block;
}
.contenedor>p{
	text-align: justify;
}
h1{
	text-align: center;

}
.contenedor>input{
	margin-bottom: 10px;
}